*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    font-family: "Chivo", sans-serif;
    background-color: #121725; 
    color: #C2CBE5;
}
header {
    padding-top: 75px;
 
}

header,
main,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .content-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo {
    height: 56px;
}

section .content-wrapper {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
}

.content-wrapper h2 {
    font-size: 26px;
    font-weight: 300;
    line-height: 38px;
    text-align: center; 
    color: #54E6AF;  
}

h2 span {
    color: #FFFFFF;
}
.content-wrapper p {
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    width: 80%;
    font-weight: 200;
}

 .icons-content-wrapper img {
    width: 100%;
    height: auto;
}

/*.form-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}*/

 .emailbutton {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 50%;
    background-color: #2C344B;
    height: 46px;
    width: 100%;
    border-radius: 2rem;
    padding-inline: 15px;
    line-height: 28px;
}

button {
    font-size: 14px;
    font-weight: 400;
    color: #121725;
    background-color:#54e6af;
    height: 46px;
    width: 100%;
    border-radius: 2rem;
    text-align: center;
    margin-top: 20px;
    line-height: 28px;
}

button:hover {
    background-color: #B3FFE2;
    cursor: pointer;
}

#error {
    display: none;
}